"*":
  "atom-beautify":
    _analyticsUserId: "a0f76700-4a95-451e-bf41-80330dded42a"
    css_newline_between_rules: true
    css_no_lead_zero: true
    css_selector_separator_newline: true
    html_end_with_newline: true
    html_max_preserve_newlines: 1
    html_preserve_newlines: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 10
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "3a52898a-e557-7b38-8128-91167efca032"
  linter: {}
  "linter-gcc": {}
  "linter-pylint": {}
  platomformio: {}
  "split-diff":
    ignoreWhitespace: true
  tablr: {}
  welcome:
    showOnStartup: false
